.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.chat-msg {
    width: 80%;
    height: 75%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(233, 233, 218);
    overflow-y: auto;
}

.sending-box {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.sending-box input {
    width: 60%;
    height: 35px;
    font-size: large;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

.sending-box button {
    width: 15%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    background-color: green;
    color: white;
}

.sending-box input:focus {
    outline: none;
}

.sending-box button:hover {
    cursor: pointer;
    border-color: green;
    background-color: white;
    color: green;
}

.chat {
    display: flex;
    margin-top: 10px;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.bubble {
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 14px;
}

.left .bubble {
    background: #eee;
}


.right .bubble {
    background: #4caf50;
    color: white;
}