
body {
    width: 100%;
    height: 100%;
    font-family: serif;
    font-size: 17px;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* .form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


.form-container form {
    max-width: 400px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.heading {
    color: rgb(75, 145, 19);
}

.input-field {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.input-field:focus {
    outline: none;
}

#join-room-btn {
    height: 40px;
    width: 100px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid black;
    background-color: rgb(17, 119, 17);
    border-radius: 5px;
    color: white;
}

#create-room-btn {
    height: 40px;
    width: 30%;
    font-size: 15px;
    border: 1px solid black;
    background-color: rgb(69, 108, 179);
    border-radius: 5px;
}

#join-room-btn:hover {
    cursor: pointer;
    border-color: rgb(17, 119, 17);
    background-color: white;
    color: rgb(17, 119, 17);
}

#create-room-btn:hover {
    cursor: pointer;
    color: rgb(69, 108, 179);
    background-color: white;
    border-color: rgb(69, 108, 179);
}