<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}">
    <title>Join Room Page</title>
</head>
<body>
    <div class="form-container">

        <h2 class="heading">Create Or Join A Room</h2>

        <form method="POST">
            <input class="input-field" id="name" name="name" placeholder="Enter Name" required/>
            <input class="input-field" name="code" placeholder="Enter Room Code"/>
            <div>
                <button type="submit" name="action" id="join-room-btn" value="join">Join Room</button>
                <button type="submit" id="create-room-btn" name="action" value="create"> Create Room </button>
            </div>
        </form>

        <div>
            {% if error %}
                <span style="color: red;">{{error}}</span>
            {% endif %}
        </div>

    </div>

</body>
</html>